/* Main */

main{ 
    background-image: url(360_F_440137850_sBJOKpItVGgxB2XgCY4pxJECaU3QTEXC.jpg);
    height: 40vh;
    background-repeat: no-repeat;
    background-size: cover;   
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main .input{
    height: 2vh;  
    width: 30vh;
}

main .button{
    height: 2.8vh;
    font-size: larger;
}

main h1{
    color: rgb(255, 208, 0);
}

/* LINKS */

.links{
    padding: 30px;
    font-size: large;
}

.links .list{
    margin-bottom: 15px;
}

.list .verde{
    background-color: rgb(32, 136, 32);
}

.links a[target="_blank"]::after{
    content: " (nova aba)";
    font-style: italic;
    font-size: 0.9em;
    color: gray;
}