body{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 40px;
    margin: 0;
    min-height: 90vh;
}

form{
    display: flex;
    flex-direction: column;
    padding: 30px;
    width: 60%;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: rgb(158, 180, 181);
}

button{
    display: inline-flex;  
    margin: 10px;
    text-decoration: none;
    border: none;
    padding: 5px;
}

.button .submit{
    background-color: rgb(97, 197, 97);
    color: white;
}

.button .reset{
    background-color: rgb(255, 118, 60);
}


input, textarea{
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input:focus, textarea:focus{
    outline: none;
    border-color: #4CAF50;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.2);
}



label{
    width: 100%;
    padding-top: 15px;
}


